<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  <ion-toolbar>
  <ion-title size="large">About Us</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-card>
  <ion-card-header>
  <ion-card-title>TASKA QADRY</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <img src="assets/pic1.jpg"/>
  <p> hello
  </p>
  </ion-card-content>
  </ion-card>