<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
    <ion-menu-button color="primary" menu="main-menu" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-card>
   <ion-item-divider>
     <ion-label>
       Address
     </ion-label>
   </ion-item-divider>
   <br><p>Taska Qadry,
     No 1, Jalan PP 7/19,
     Taman Putra Perdana,
     47130, Puchong, Selangor </p><br>

     <ion-item-divider>
       <ion-label>
         Phone | Email
       </ion-label>
     </ion-item-divider>
     <br><div>019-692 8290
        <br>matunrima@gmail.com</div><br>

     <ion-item-divider>
       <ion-label>
         Hours Open
       </ion-label>
     </ion-item-divider>
     <br><div> Monday | 7:00 AM - 7:00 PM
      <br> Tuesday |  7:00 AM - 7:00 PM
       <br> Wednesday |  7:00 AM - 7:00 PM
       <br> Thursday |  7:00 AM - 7:00 PM
       <br> Friday | 7:00 AM - 7:00 PM
       <br> Saturday | CLOSED
       <br> Sunday | CLOSED
     </div><br>
   </ion-card>