<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>PARENTS</ion-title>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  
    <ion-button
    class="ion-padding"
    expand="block"
    shape="round"
    color="primary"
    [routerLink]="['/loginparents']">
    LOGIN
  </ion-button>

  <ion-button
    class="ion-padding"
    expand="block"
    shape="round"
    color="primary"
    [routerLink]="['/registerparents']">
    REGISTER
  </ion-button>

</div>
</ion-content>